
$colors: (#FFF, #AAA, #BBB);
$colors2: #FFF #AAA #BBB;
$sizes: (
    "small": 10px,
    "medium": 15px,
    "large": 20px,
    );

body{
    color: nth($colors, 2);
    background: nth($colors2, 2);

    font-size: map-get($sizes, "medium");
}