body {
  font: 100% Helvetica, sans-serif;
  color: #333; }

test {
  color: #FFF;
  color: #FFA; }
  test test {
    color: #FFA; }
    test test some-class {
      -webkit-align-content: center; }
    test test:hover {
      border-top-width: medium; }

